/*滚动条样式*/
[ng\:cloak],[ng-cloak],.ng-cloak {
    display:none;
}
.overlay {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    vertical-align: middle;
    font-size: 50px;
    z-index: 9999;
}
.overlay .message {
    position: absolute;
    margin: auto;
    height: 80px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #FFE;
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
    font-size: 80px;
    font-weight: bold;
}
/*tab页*/
.nav-tabs {
    margin-bottom:0px;
    height: auto;
    padding-left:1px;
    border-bottom:1px solid #333333;
}
.nav-tabs>.active>a,.nav-tabs>.active>a:hover,.nav-tabs>.active>a:focus,.nav-tabs>li>a:hover,.nav-tabs>li>a:focus {
    background-image:-webkit-linear-gradient(bottom,#000000,#333333);
    background-image:-moz-linear-gradient(bottom,#000000,#333333);
    background-image:linear-gradient(bottom,#000000,#333333);
    cursor:pointer;
    -webkit-border-radius:3px 3px 0 0;
    -moz-border-radius:3px 3px 0 0;
    border-radius:3px 3px 0 0;
}
.nav-tabs>li>a{
    color: #000000;
    font-size: 16px;
    line-height: 21px;
    height: 20px;
    margin-top: 3px;
    margin-left: -1px;
    background-color: #FFFFFF;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    border: solid 1px #333333;
}
.nav-tabs>.active>a,.nav-tabs>.active>a:hover,.nav-tabs>.active>a:focus{
    color:#ffffff;
}
.nav-tabs>li>a:hover,.nav-tabs>li>a:focus{
    color:#ffffff;
}
body.aly {
    margin:0;
    padding:0;
    width:100%;
    background: url(../assets/img/main_bg.gif);
}
.aly .cu3er_resize {
    width:620px;
    margin:0 auto;
    padding:10px 0 38px 0;
    background:url(../assets/swfobject/images/swf_bg.jpg) no-repeat bottom;
}
.aly #cu3er-container {
    width:620px;
    outline:0;
}
.aly header {
    /*background: #171717;*/
    /*color: #ffffff;*/
    font: normal 18px Arial, Helvetica, sans-serif;
}
.aly header .logo {
    background: url(../../images/index/logo.png) no-repeat;
    display: block;
    width: 155px;
    height: 60px;
    position: absolute;
    top: 10px;
    z-index: 1;
}
.aly header .description {
    line-height: 80px;
    font-size: 80px;
}
.aly .submenu {
    height: 41px;
    background: url(../assets/img/menu_bg.gif) top repeat-x;
    margin: 0;
    padding: 0;
}
.aly .submenu .row {
    padding-top: 5px;
    color: #ffffff;
}
.aly .slogan-login .login-form {
    margin-top: 160px;
}
.aly .slogan-login .form-horizontal .control-label {
    width: 100px;
}
.aly .slogan-login .form-horizontal .controls {
    margin-left: 120px;
}
.aly .slogan-login .form-horizontal input {
    width: 200px;
}
.aly .footer {
    color: #999;
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #1b1b1b;
}
.aly .footer .container {
    position: relative;
}
.aly .footer .sns {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 210px;
}
.desktop {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.desktop .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100%;
    color: #fff;
    /*background: #0b79e5;*/
    background: #333333;
    font-weight: 200;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1030;
    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}
.sidebar .nav .nav-profile .nav-sign-out {
    cursor: pointer;
    font-size: 12px;
}
.sidebar .nav-profile {
    padding: 0 20px;
    font-size: 16px;
    line-height: 40px;
}
.sidebar .nav-search {
    position: relative;
    clear: both;
}
.sidebar .nav-search form {
    margin: 0px;
}
.sidebar .nav-search input {
    color: #fff;
    width: 176px;
    padding: 0 20px 0 44px;
    margin: 0;
    border: 0;
    /*background: #0065c7;*/
    background: #1F1F1F;
    height: 41px;
    font-weight: 200;
    text-overflow: ellipsis;
    -webkit-transition: background .1s ease,color .1s ease,padding .4s ease;
    transition: background .1s ease,color .1s ease,padding .4s ease;
    border-radius: 0;
}
.sidebar li a:hover, .sidebar li.active a:hover, .sidebar li.active a {
    /*background: #278ff7;*/
    background: #000000;
    -webkit-transition: none;
    transition: none;
    text-decoration: none;
}
.sidebar a {
    color: #fff;
}
.sidebar .nav-links li a {
    display: block;
    width: 200px;
    height: auto;
    padding: 9px 20px;
    -webkit-transition: background .2s ease;
    transition: background .2s ease;
    cursor: pointer;
    font-size: 17px;
}
.nav-links li.on a {
    /*color: #0b79e5;*/
    color: #000000;
    background: #fff;
    font-weight: 500;
}
.nav-links li.on a i.icon-white {
    background-image: url("../assets/img/glyphicons-halflings.png");
}
.desktop .main-container {
    position: absolute;
    left: 240px;
    right: 0;
    height: 100%;
    background-color: #ffffff;
    min-width: 800px;
}
/**各个子面板占右侧的全屏*/
.main-container .manual,
.main-container .news,
.main-container .recruit,
.main-container .games,
.main-container .settings,
.main-container .about {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    font-family: "微软雅黑","Georgia","Times New Roman",serif,"宋体";
    font-size: 16px;
}
.app-title {
    margin: 8px 0px 0px;
    padding: 0px;
    font-size: 16px;
    font-weight: normal;
    color: rgb(62, 62, 62);
    white-space: normal;
    background-color: rgb(255, 255, 255);
    height: 32px;
    line-height: 18px;
    font-family: "微软雅黑";
    text-align: justify;
}
.app-title .title-name {
    padding: 0px 2px 3px;
    color: rgb(44, 44, 44);
    line-height: 28px;
    float: left;
    display: block;
}
.app-title .title-name .name {
    padding: 4px 10px;
    border-top-left-radius: 80%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 90%;
    border-bottom-left-radius: 20%;
    color: rgb(255, 255, 255);
    margin-right: 8px;
    background-color: rgb(49, 49, 49);
}
.app-title .title-description {
    padding: 0px 2px 3px;
    color: rgb(44, 44, 44);
    line-height: 28px;
    float: left;
    display: block;
}
.app-title .title-description strong {
    line-height: 24px;
}
header.title .title {
    display: inline-block;
    padding-left: 20px;
}
header.title .title-description {
    display: inline-block;
    margin-left: 20px;
    color: #757575;
}
header.title .operations {
    display: inline-block;
    margin-left: 40px;
}
/*覆盖bootstrap的一些默认样式*/
.tab-content {
    overflow: inherit;
}
.accordion-heading .accordion-toggle {
    color: #333333;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.accordion-heading .accordion-toggle:hover {
    background-color: #333333;
    color: #ffffff;
}
.accordion-group {
    border: 3px solid #e5e5e5;
}
.accordion-group.selected {
    border: 3px solid #ff7e00;
}
.accordion-toggle > span {
    margin-left: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
}
.form-horizontal .control-group {
    margin-bottom: 10px;
}
.form-horizontal .control-group.inline {
    display: inline-block;
}
.form-horizontal .control-label {
    width: 80px;
}
.form-horizontal .controls{
    margin-left: 90px;
}
.control-group input,.control-group textarea, .control-group .uneditable-input {
    width: 389px;
}
.control-group.inline input, .control-group.inline .uneditable-input {
    width: 140px;
}
/*公共组件样式*/


/*使用说明 manual*/

/*新闻动态 news*/
.news .table-hover tbody tr.selected,
.news .table-hover tbody tr.selected:hover td,
.news .table-hover tbody tr.selected:hover th {
    background-color: #333333;
    color: #ffffff;
}
.news .table th:nth-child(4), .news .table td:nth-child(4) {
    width: 280px;
    max-width: 350px;
    overflow-x: auto;
}

/*人事招聘 recruit*/
.recruit span.position {
    width: 281px;
}

/*旗下游戏 games*/

/*设置 settings*/

/*关于本站 about*/
.about .tech-radar {
    text-align: center;
}
.about .tech-radar .tech-stack-client,
.about .tech-radar .tech-stack-server-rest,
.about .tech-radar .tech-stack-server-hibernate {
    border-bottom: solid 1px #aaa;
    margin-bottom: -2px;
    min-width: 770px;
}
.about .tech-radar .tech-stand {
    display: inline-block;
    width: 300px;
    height: 80px;
    line-height: 80px;
    padding: 10px;
}
.about .tech-radar .tech-stand .stand {
    display: inline-block;
    width: 300px;
    height: 80px;
    line-height: 80px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: purple;
}
.about .tech-radar .tech-stack-server-rest .tech-stand .stand,
.about .tech-radar .tech-stack-server-hibernate .tech-stand .stand {
    background-color: #60944C;
}
.about .tech-radar .tech-stack-db .tech-stand .stand {
    background-color: #2EAEB9;
}
.about .tech-radar .tech-stack .stand {
    display: inline-block;
    width: 170px;
    height: 80px;
    line-height: 80px;
    padding: 10px;
}
.about .tech-radar .tech-stack, .about .tech-radar .tech-practise {
    display: inline-block;
    width: 200px;
    height: 80px;
    line-height: 80px;
    padding: 10px;
}
.about .tech-radar .tech-practise {
    border-left: solid 1px #aaa;
}
