<div class="manual">
    <h2 class="app-title">
        <span class="title-name">
            <span class="name">使用说明</span>
        </span>
        <span class="title-description"><strong>使用“后台管理”进行爱乐游官网内容编辑时，需要了解的注意事项。</strong></span>
    </h2>
    <tabs>
        <!-- 使用说明 -->
        <pane heading="使用说明">
            <header class="title">
                <h3 class="title">使用说明</h3>
                <p class="title-description">建议使用<a target="_blank" href="http://www.baidu.com/s?wd=chrome&rsv_spt=1&issp=1&f=8&rsv_bp=0&rsv_idx=2&ie=utf-8&tn=baiduhome_pg">Chrome</a>。</p>
            </header>
            <p><img src="../images/introduction/briefinfo/logo.png">欢迎使用爱乐游官网后台管理系统，请您在使用之前、遵守如下使用约定：</p>
            <p>(1) 请使用<abbr title="Chrome IE10+ Firefox...">现代浏览器</abbr>打开本系统，推荐使用<a target="_blank" href="http://www.baidu.com/s?wd=chrome&rsv_spt=1&issp=1&f=8&rsv_bp=0&rsv_idx=2&ie=utf-8&tn=baiduhome_pg">Chrome</a>，而且尽量不要使用IE10以下的浏览器。</p>
            <p>
                (2) 对于文本编辑，请使用<a target="_blank" href="http://www.baidu.com/s?wd=markdown%20%E8%AF%AD%E6%B3%95&rsv_spt=1&issp=1&f=8&rsv_bp=0&rsv_idx=2&ie=utf-8&tn=baiduhome_pg">Markdown语法</a>进行文档编写。
                对于使用Markdown语法作为文档编辑的语法，是考虑到Markdown作为纯文本的编辑语法，能够简化程序的开发，而不需要保存大量的HTML标签，语法例子如下：
            </p>
            <ol>
                <li>使用Markdown语法编辑自然段时，各个自然段之间需要隔有“空行”，例如：<img src="assets/img/MarkdownParagraph.jpg"></li>
                <li>使用Markdown语法添加图片时，图片地址需要按照这种格式填写：![图片文本提示](../图/片/地/址.png "可不必填写的图片标题")，例如：<img src="assets/img/MarkdownPicture.jpg"></li>
            </ol>
        </pane>
    </tabs>
</div>