<div class="news">
    <h2 class="app-title">
        <span class="title-name">
            <span class="name">新闻动态</span>
        </span>
        <span class="title-description"><strong>用于“首页”等页面中显示的公司动态、媒体动态内容。</strong></span>
    </h2>
    <tabs>
        <!-- 公司动态 -->
        <pane heading="公司动态">
            <header class="title">
                <h3 class="title">公司动态</h3>
                <div class="operations">
                    <button class="btn btn-primary btn-large" ng-click="createCompanyNew()">创建公司动态</button>
                </div>
            </header>

            <!-- 所有需要编辑的记录 -->
            <accordion close-others="true">
                <accordion-group ng-repeat="companyNew in allCompanyNews" ng-class="{'selected' : selectedCompanyNew == companyNew}" ng-click="selectCurrentCompanyNew(companyNew)">
                    <accordion-heading>
                        <div class="btn-group">
                            <a class="btn btn-primary">操作</a>
                            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li ng-click="editCurrentCompanyNew(companyNew, $event)"><a><i class="icon-pencil"></i> 编辑</a></li>
                                <li ng-click="deleteCurrentCompanyNew(companyNew, $event)"><a><i class="icon-trash"></i> 删除</a></li>
                            </ul>
                        </div>
                        <span class="company-news-title"><strong>标题：</strong>{{companyNew.newsTitle}}</span>
                        <span class="company-news-date"><strong>新闻日期：</strong>{{companyNew.newsDate}}</span>
                    </accordion-heading>
                    <div class="company-news">
                        <div class="company-news-info">
                            <span class="short-cut"><strong>拼音简述：</strong>{{companyNew.shortcut}}</span>
                            <span class="source"><strong>来源：</strong>{{companyNew.newsSource}}</span>
                            <span class="author"><strong>作者：</strong>{{companyNew.newsAuthor}}</span>
                        </div>

                        <div class="company-news-content">
                            <h3>新闻正文</h3>
                            <div markdown="{{companyNew.newsContent}}"></div>
                        </div>
                    </div>
                </accordion-group>
            </accordion>
        </pane>

        <!-- 媒体动态 -->
        <pane heading="媒体动态">
            <header class="title">
                <h3 class="title">媒体动态</h3>
                <div class="operations">
                    <button class="btn btn-primary btn-large" ng-click="createMediaNew()">创建媒体动态</button>
                </div>
            </header>
            <!-- 所有媒体动态 -->
            <table class="table table-bordered table-hover">
                <tr>
                    <th>操作</th>
                    <th>ID</th>
                    <th>标题</th>
                    <th>引用链接</th>
                    <th>新闻时间</th>
                </tr>
                <tr ng-repeat="mediaNew in allMediaNews" ng-class="{'selected': mediaNew == selectedMediaNew}" ng-click="selectCurrentMediaNew(mediaNew)">
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-primary">操作</a>
                            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li ng-click="editCurrentMediaNew(mediaNew, $event)"><a><i class="icon-pencil"></i> 编辑</a></li>
                                <li ng-click="deleteCurrentMediaNew(mediaNew, $event)"><a><i class="icon-trash"></i> 删除</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>{{mediaNew.newsId}}</td>
                    <td>{{mediaNew.newsTitle}}</td>
                    <td>{{mediaNew.referenceLink}}</td>
                    <td>{{mediaNew.newsDate}}</td>
                </tr>
            </table>
        </pane>

    </tabs>
</div>