<div class="about">
    <h2 class="app-title">
        <span class="title-name">
            <span class="name">关于本站</span>
        </span>
        <span class="title-description"><strong>关于这个网站是使用了哪些资源</strong></span>
    </h2>
    <tabs>
        <!-- 技术雷达 -->
        <pane heading="技术雷达">
            <header class="title">
                <h3 class="title">技术雷达</h3>
                <p class="title-description">本网站用到的各项技术。</p>
            </header>
            <div class="tech-radar">
                <div class="tech-stack-client">
                    <div class="tech-stand"><span class="stand">Client</span></div>
                    <div class="tech-stack">HTML5/CSS3/JavaScript</div>
                    <div class="tech-practise">Unit Test, Functional Test</div>
                </div>
                <div class="tech-stack-server-rest">
                    <div class="tech-stand"><span class="stand">REST</span></div>
                    <div class="tech-stack">Spring MVC</div>
                    <div class="tech-practise">Domain Design, Unit Test</div>
                </div>
                <div class="tech-stack-server-hibernate">
                    <div class="tech-stand"><span class="stand">Persistence</span></div>
                    <div class="tech-stack">MyBatis</div>
                    <div class="tech-practise">Integration Test</div>
                </div>
                <div class="tech-stack-db">
                    <div class="tech-stand"><span class="stand">DB</span></div>
                    <div class="tech-stack">MySQL</div>
                    <div class="tech-practise">DB Migration</div>
                </div>
            </div>
        </pane>

        <!-- Bootstrap -->
        <pane heading="Bootstrap">
            <header class="title">
                <h3 class="title">Bootstrap</h3>
                <p class="title-description">基本样式，使用了Bootstrap。</p>
            </header>
            <p>参考资料：</p>
            <ul>
                <li>Bootstrap中文网：<a target="_blank" href="http://www.bootcss.com/">http://www.bootcss.com/</a> </li>
            </ul>
        </pane>

        <!-- AngularJS -->
        <pane heading="AngularJS">
            <header class="title">
                <h3 class="title">AngularJS</h3>
                <p class="title-description">主要使用AngularJS进行富客户端的增删改查的开发。</p>
            </header>

        </pane>

        <!-- jQuery -->
        <pane heading="jQuery">
            <header class="title">
                <h3 class="title">jQuery</h3>
                <p class="title-description">DOM操作，主要使用jQuery。</p>
            </header>

        </pane>

        <!-- Spring MVC -->
        <pane heading="Spring MVC">
            <header class="title">
                <h3 class="title"> Spring MVC </h3>
                <p class="title-description">REST层API，使用Spring MVC。</p>
            </header>

        </pane>

        <!-- MyBatis -->
        <pane heading="MyBatis">
            <header class="title">
                <h3 class="title">MyBatis</h3>
                <p class="title-description">持久化框架，采用MyBatis。</p>
            </header>

        </pane>

        <!-- MySQL -->
        <pane heading="MySQL">
            <header class="title">
                <h3 class="title">MySQL</h3>
                <p class="title-description">数据库，采用MySQL。</p>
            </header>

        </pane>

    </tabs>
</div>