<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aly.dao.RecruitsMapper" >
  <resultMap id="BaseResultMap" type="com.aly.domain.Recruits" >
    <id column="RECRUIT_ID" property="recruitId" jdbcType="INTEGER" />
    <result column="RECRUIT_POSITION" property="recruitPosition" jdbcType="VARCHAR" />
    <result column="WORK_PLACE" property="workPlace" jdbcType="VARCHAR" />
    <result column="WORK_PROPERTY" property="workProperty" jdbcType="VARCHAR" />
    <result column="RECRUIT_NUM" property="recruitNum" jdbcType="VARCHAR" />
    <result column="RESPONSIBILITIES" property="responsibilities" jdbcType="VARCHAR" />
    <result column="REQUIREMENTS" property="requirements" jdbcType="VARCHAR" />
    <result column="OTHERS" property="others" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    RECRUIT_ID, RECRUIT_POSITION, WORK_PLACE, WORK_PROPERTY, RECRUIT_NUM, RESPONSIBILITIES, 
    REQUIREMENTS, OTHERS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from RECRUITS
    where RECRUIT_ID = #{recruitId,jdbcType=INTEGER}
  </select>
  <select id="getAllRecruits" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from RECRUITS
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from RECRUITS
    where RECRUIT_ID = #{recruitId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aly.domain.Recruits" useGeneratedKeys="true" keyProperty="recruitId" >
    insert into RECRUITS (RECRUIT_ID, RECRUIT_POSITION, WORK_PLACE,
      WORK_PROPERTY, RECRUIT_NUM, RESPONSIBILITIES, 
      REQUIREMENTS, OTHERS)
    values (#{recruitId,jdbcType=INTEGER}, #{recruitPosition,jdbcType=VARCHAR}, #{workPlace,jdbcType=VARCHAR}, 
      #{workProperty,jdbcType=VARCHAR}, #{recruitNum,jdbcType=VARCHAR}, #{responsibilities,jdbcType=VARCHAR},
      #{requirements,jdbcType=VARCHAR}, #{others,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.aly.domain.Recruits" useGeneratedKeys="true" keyProperty="recruitId" >
    insert into RECRUITS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recruitId != null" >
        RECRUIT_ID,
      </if>
      <if test="recruitPosition != null" >
        RECRUIT_POSITION,
      </if>
      <if test="workPlace != null" >
        WORK_PLACE,
      </if>
      <if test="workProperty != null" >
        WORK_PROPERTY,
      </if>
      <if test="recruitNum != null" >
        RECRUIT_NUM,
      </if>
      <if test="responsibilities != null" >
        RESPONSIBILITIES,
      </if>
      <if test="requirements != null" >
        REQUIREMENTS,
      </if>
      <if test="others != null" >
        OTHERS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recruitId != null" >
        #{recruitId,jdbcType=INTEGER},
      </if>
      <if test="recruitPosition != null" >
        #{recruitPosition,jdbcType=VARCHAR},
      </if>
      <if test="workPlace != null" >
        #{workPlace,jdbcType=VARCHAR},
      </if>
      <if test="workProperty != null" >
        #{workProperty,jdbcType=VARCHAR},
      </if>
      <if test="recruitNum != null" >
        #{recruitNum,jdbcType=VARCHAR},
      </if>
      <if test="responsibilities != null" >
        #{responsibilities,jdbcType=VARCHAR},
      </if>
      <if test="requirements != null" >
        #{requirements,jdbcType=VARCHAR},
      </if>
      <if test="others != null" >
        #{others,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aly.domain.Recruits" >
    update RECRUITS
    <set >
      <if test="recruitPosition != null" >
        RECRUIT_POSITION = #{recruitPosition,jdbcType=VARCHAR},
      </if>
      <if test="workPlace != null" >
        WORK_PLACE = #{workPlace,jdbcType=VARCHAR},
      </if>
      <if test="workProperty != null" >
        WORK_PROPERTY = #{workProperty,jdbcType=VARCHAR},
      </if>
      <if test="recruitNum != null" >
        RECRUIT_NUM = #{recruitNum,jdbcType=VARCHAR},
      </if>
      <if test="responsibilities != null" >
        RESPONSIBILITIES = #{responsibilities,jdbcType=VARCHAR},
      </if>
      <if test="requirements != null" >
        REQUIREMENTS = #{requirements,jdbcType=VARCHAR},
      </if>
      <if test="others != null" >
        OTHERS = #{others,jdbcType=VARCHAR},
      </if>
    </set>
    where RECRUIT_ID = #{recruitId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aly.domain.Recruits" >
    update RECRUITS
    set RECRUIT_POSITION = #{recruitPosition,jdbcType=VARCHAR},
      WORK_PLACE = #{workPlace,jdbcType=VARCHAR},
      WORK_PROPERTY = #{workProperty,jdbcType=VARCHAR},
      RECRUIT_NUM = #{recruitNum,jdbcType=VARCHAR},
      RESPONSIBILITIES = #{responsibilities,jdbcType=VARCHAR},
      REQUIREMENTS = #{requirements,jdbcType=VARCHAR},
      OTHERS = #{others,jdbcType=VARCHAR}
    where RECRUIT_ID = #{recruitId,jdbcType=INTEGER}
  </update>
</mapper>