BODY {
	MARGIN: 0px;
	PADDING: 0px;
	LINE-HEIGHT: 24px;
	BACKGROUND: url("../images/pms_images/bg.gif") repeat-x;
	FONT-SIZE: 14px;
}

A {
	COLOR: #336699;
}

H3 {
	PADDING-BOTTOM: 0px;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	LIST-STYLE-IMAGE: none;
	PADDING-TOP: 0px;
}

P {
	PADDING-BOTTOM: 0px;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	LIST-STYLE-IMAGE: none;
	PADDING-TOP: 0px;
}

H4 {
	PADDING-BOTTOM: 0px;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	LIST-STYLE-IMAGE: none;
	PADDING-TOP: 0px;
}

UL {
	PADDING-BOTTOM: 0px;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	LIST-STYLE-IMAGE: none;
	PADDING-TOP: 0px;
}

LI {
	PADDING-BOTTOM: 0px;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	LIST-STYLE-IMAGE: none;
	PADDING-TOP: 0px;
}

P {
	TEXT-INDENT: 2em;
}

.box {
	MARGIN: auto;
	WIDTH: 1002px;
	BACKGROUND: url("../images/pms_images/top.jpg") no-repeat center top;
}

.top {
	HEIGHT: 243px;
}

.main {
	PADDING-BOTTOM: 6px;
	PADDING-LEFT: 36px;
	PADDING-RIGHT: 36px;
	BACKGROUND: url("../images/pms_images/main_bg.gif") repeat-y center 50%;
	PADDING-TOP: 6px;
}

.main H3 {
	BORDER-BOTTOM: #cbcbcb 1px solid;
	BORDER-LEFT: #cbcbcb 1px solid;
	LINE-HEIGHT: 32px;
	PADDING-LEFT: 20px;
	FONT-FAMILY: "黑体";
	BACKGROUND: url("../images/pms_images/h_bg.gif");
	HEIGHT: 31px;
	FONT-SIZE: 16px;
	BORDER-TOP: #cbcbcb 1px solid;
	FONT-WEIGHT: 100;
	BORDER-RIGHT: #cbcbcb 1px solid;
	HEIGHT: 31px;
}

.main P {
	PADDING-BOTTOM: 10px;
	PADDING-LEFT: 10px;
	PADDING-RIGHT: 10px;
	PADDING-TOP: 10px;
}

.shenqing H3 FONT {
	PADDING-LEFT: 560px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 12px;
}

.shenqing H3 FONT A {
	COLOR: #ff6600;
}

.shenqing IMG {
	PADDING-BOTTOM: 8px;
	PADDING-LEFT: 8px;
	PADDING-RIGHT: 8px;
	PADDING-TOP: 8px;
}

.tishi {
	PADDING-BOTTOM: 20px;
	MARGIN: 20px;
	PADDING-LEFT: 20px;
	PADDING-RIGHT: 20px;
	BACKGROUND: #d8f0fe;
	PADDING-TOP: 20px;
}

.tishi H4 {
	FONT-SIZE: 14px;
}

.tishi P {
	PADDING-BOTTOM: 0px;
	TEXT-INDENT: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px;
}

.wenti UL {
	PADDING-BOTTOM: 10px;
	PADDING-LEFT: 10px;
	PADDING-RIGHT: 10px;
	PADDING-TOP: 10px;
}

.wenti P {
	TEXT-INDENT: 0px;
}

#footer {
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	BACKGROUND: url("../images/pms_images/ft_bg.gif") repeat-x;
	HEIGHT: 100px;
	COLOR: #333;
}

#footer .container {
	POSITION: relative;
	TEXT-ALIGN: center;
	MARGIN: 0px auto;
	WIDTH: 1002px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	CLEAR: both;
	FONT-SIZE: 12px;
}

#footer P {
	PADDING-BOTTOM: 0px;
	LINE-HEIGHT: 1.5em;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px;
}

#footer P SPAN {
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 5px;
	PADDING-RIGHT: 5px;
	PADDING-TOP: 0px;
}

#footer P.btm_nav {
	PADDING-TOP: 5px;
}

#footer P.copyright {
	MARGIN: 10px 0px 10px 50px;
	COLOR: #999;
	CLEAR: left;
}

#footer P A:link {
	MARGIN: 0px 5px;
	COLOR: #333;
	TEXT-DECORATION: none;
}

#footer P A:visited {
	MARGIN: 0px 5px;
	COLOR: #333;
	TEXT-DECORATION: none;
}

#footer P A:hover {
	COLOR: #5cb531;
	TEXT-DECORATION: underline;
}

#footer P A:active {
	COLOR: #5cb531;
	TEXT-DECORATION: underline;
}

#footer .logo {
	POSITION: absolute;
	MARGIN-TOP: -25px;
	TEXT-INDENT: -9999px;
	WIDTH: 120px;
	BACKGROUND: url("../images/pms_images/logo.jpg") no-repeat 50% 50%;
	HEIGHT: 45px;
	OVERFLOW: hidden;
	TOP: 50%;
	LEFT: 60px;
	height: 63px;
}

#footer .logo A {
	DISPLAY: block;
	HEIGHT: 45px;
}

#footer .slogan {
	POSITION: absolute;
	MARGIN-TOP: -25px;
	TEXT-INDENT: -9999px;
	WIDTH: 143px;
	BACKGROUND: url("../images/pms_images/ft_bg.gif") no-repeat;
	HEIGHT: 37px;
	OVERFLOW: hidden;
	TOP: 50%;
	RIGHT: 50px;
}

#footer .slogan A {
	DISPLAY: block;
	HEIGHT: 37px;
}