@charset "utf-8";
body{ margin:0; padding:0; font-size:12px; font-family:"微软雅黑";color:#909195;}
form,ul,li,p,h1,h2,h3,h4,h5,h6,dl,dt,dd{margin:0;padding:0;list-style:none;}
img{ border:0px;}
a{text-decoration:none;blr:expression(this.onFocus=this.blur());outline:none;color:rgb(118,118,118);}
a:hover{color:#4e4e51;}
.clearfix:after{content:"&nbsp;";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{*display:inline-block;}
/*导航*/
.nav{ width:960px; clear:both; margin:0 auto;position:relative;}
.logo{ float:left; width:379px; overflow:hidden; height:80px;}
.logo_nav{background:url(../images/index/logo.png) no-repeat; display:block; width:155px; height:60px; position:absolute; top:10px;z-index: 1;}
.menu{ width:400px; height:40px; position:absolute; top:20px; right:10px;}
.m1,.m2,.m3,.m4,.m5{ background: url(../images/index/huisezi.png) no-repeat;height:40px; float:left; display:block;}
.m1:hover,.m2:hover,.m3:hover,.m4:hover,.m5:hover{ background: url(../images/index/lansezi.png) no-repeat;height:40px; float:left; display:block;}
.m1,.m1:hover{ background-position:0px 0px; width:34px;}
.m2,.m2:hover{ background-position:-66px 0px; width:60px;margin-left:21px;}
.m3,.m3:hover{ background-position:-159px 0px; width:70px;margin-left:21px;}
.m4,.m4:hover{ background-position:-264px 0px; width:60px;margin-left:21px;}
.m5,.m5:hover{ background-position:-356px 0px; width:60px;margin-left:21px;}
/*footer*/
.footer{width:960px; clear:both; margin: 30px auto; padding:20px 0px 20px 0px; line-height:20px; position:relative;background: url("../images/index/xinxibeijing.png") left no-repeat;}
.footer .logo_footer { background: url(../images/index/logo2.png) no-repeat; display: block; width: 155px; height: 60px; position: absolute; top: 10px; left: 100px;}
.footer .about { display: inline-block; position: absolute; top: 20px; left: 240px;}
.footer .about .links {text-align: center;}
.footer .about .copyright {font-size: 9px;}
/*index_banner*/
#banner{position:relative;width:100%;height:382px;overflow:hidden; clear:both;}
#banner .Limg2{position:relative; }
#banner .Limg2 li{position:absolute;top:0;left:0;}
#banner .Limg2 li  p{line-height:25px; font-size:12px; padding-left:15px;}
#banner .Nubbt2{position:absolute; width:auto;z-index:9;right:50%;bottom:10px; margin: 0px -460px 0px 0px;}
#banner .Nubbt2 span{ background: url(../images/index/qiehua1.png);overflow:hidden;display:block; float:left; margin:0px 6px 0px 0px; width:41px; height:7px;cursor:pointer;}
#banner .Nubbt2 span.on2{background: url(../images/index/qiehua1.png);overflow:hidden;display:block; float:left; width:41px; height:7px;}

.img0{ height:382px; width:100%;background:url(../images/index/leitinglongbo.jpg) no-repeat center top; position:relative; text-align:center}
.img01{ height:382px; width:100%;background:url(../images/index/xinji.jpg) no-repeat center top; position:relative; text-align:center}
.img02{ height:382px; width:100%;background:url(../images/index/yongzhe.jpg) no-repeat center top; position:relative; text-align:center}
.img_img{ display:block; height:382px; width:100%; margin:0 auto;}

.ban_leftbtn{ position:absolute; left:50%; top:50%;margin:-28px 0px 0px -550px; cursor:pointer; width:30px; height:56px; background:url(../images/index/jiantou2.png) -5px -5px; z-index:999;}
.ban_leftbtn:hover{background:url(../images/index/jiantou2.png) -5px -5px;}
.ban_rightbtn{ position:absolute; right:50%; top:50%; margin:-28px -550px 0px 0px; cursor:pointer; width:30px; height:56px; background:url(../images/index/jiantou.png) -5px -5px;z-index:999;}
.ban_rightbtn:hover{background:url(../images/index/jiantou.png) -5px -5px;}

/*爱乐游主页布局 home*/
.main-container{ width:960px; margin:0 auto;}
.left-section{ float:left; padding:20px 0px 0px 0px;width: 300px;}
.right-section{ float:left; margin-left: 15px;}

/*爱乐游微信、微博等快捷按钮*/
.left-section .sns { width: 300px;}
.left-section .sns a { display: inline-block; width: 144px; height: 122px;}
.left-section .sns a.weixin { background: url("../images/index/weixin.png") left no-repeat;}
.left-section .sns a:hover.weixin { background: url("../images/index/weixin2.png") left no-repeat;position: relative;}
.left-section .sns a.weixin .weixin-code {display: none;}
.left-section .sns a:hover.weixin .weixin-code { background: url("../images/index/weixin-code.png") left no-repeat; display: block; position: absolute; width: 165px; height: 165px; bottom: 122px; left: 0px; z-index: 2;}
.left-section .sns a.weibo { background: url("../images/index/weibo.png") left no-repeat;}
.left-section .sns a:hover.weibo { background: url("../images/index/weibo2.png") left no-repeat;}
.left-section .sns a.bbs { background: url("../images/index/bbs.png") left no-repeat;}
.left-section .sns a:hover.bbs { background: url("../images/index/bbs2.png") left no-repeat;}
.left-section .sns a.jiazhang { background: url("../images/index/jiazhang.png") left no-repeat;}
.left-section .sns a:hover.jiazhang { background: url("../images/index/jiazhang2.png") left no-repeat;}
.left-section .contact { margin-top: 15px;}
.left-section .contact a { display: block; width: 290px; height: 35px;}
.left-section .contact a.rongyu { background: url("../images/index/rongyu1.png") left no-repeat;}
.left-section .contact a:hover.rongyu { background: url("../images/index/rongyu2.png") left no-repeat;}
.left-section .contact a.jianjie { background: url("../images/index/jianjie1.png") left no-repeat;}
.left-section .contact a:hover.jianjie { background: url("../images/index/jianjie2.png") left no-repeat;}
.left-section .contact a.zhaopin { background: url("../images/index/zhaopin1.png") left no-repeat;}
.left-section .contact a:hover.zhaopin { background: url("../images/index/zhaopin2.png") left no-repeat;}
.left-section .contact a.lianxi { background: url("../images/index/lianxi.png") left no-repeat;}
.left-section .contact a:hover.lianxi { background: url("../images/index/lianxi2.png") left no-repeat;}
.left-section .service { margin-top: 27px;}

.right-section .title img {display: block;}
.right-section .title img.name {float: left;}
.right-section .title img.more {float: right; margin-top: 5px;}
.right-section .title img.decoration {margin-top: 3px;}

/*公司动态&媒体动态*/
.right-section .state-container { height: 260px; clear: both; margin: auto; padding: 20px 0px 5px 0px; overflow: hidden;}
.right-section .company-state{ width: 301px; float: left; overflow: hidden; height: 260px;}
.right-section .media-state { width: 300px; float: left; overflow: hidden; height: 260px; margin: 0px 19px 0px 19px;}
.right-section .state-container .detail {padding-top: 6px;}
.right-section .state-container .detail .news-title {display: inline-block; width: 200px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; vertical-align: bottom;}
.right-section .state-container .detail .news-date {margin-left: 7px;}
.right-section .state-container .detail .decoration {margin-top: 5px;}

/*热门游戏*/
.right-section .hot-games { margin: auto;}
.right-section .hot-games .title div {width: 616px;}
.right-section .hot-games .online-game, .right-section .hot-games .break-line, .right-section .hot-games .casual-game {margin-top: 10px;}

/*更多动态信息页面 news*/
.right-section .news-header {padding: 20px 0px 5px 0px;}
.sx_4_1,.sx_4_1_1,.sx_4_2,.sx_4_2_1{ float:left; display:block; height:32px; cursor:pointer;width:309px;}
.sx_4_1{ background:url(../images/news/gongsidongtai2.png); }
.sx_4_1_1{ background:url(../images/news/gongsidongtai1.png); }
.sx_4_2{ background:url(../images/news/meitidongtai2.png); }
.sx_4_2_1{ background:url(../images/news/meitidongtai1.png); }
.right-section .news-container { width: 616px; overflow: hidden; height: 490px;}
.right-section .news-container .detail {padding-top: 6px;}
.right-section .news-container .detail .news-title {display: inline-block; width: 527px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; vertical-align: bottom;}
.right-section .news-container .detail .decoration {margin-top: 5px;}
.other-news { text-align: right; padding-right: 7px;}

/**动态信息详细页面 news-detail*/
.right-section .news-detail {padding: 20px 0px 5px 0px;width: 616px; overflow: hidden; min-height: 508px;}
.right-section .news-detail .news-title {text-align: center;padding: 10px 0px;color: rgb(41,91,164);font-size: 24px;}
.right-section .news-detail .author-info { text-align: center; margin: 10px 150px 20px; background-color: rgb(229,229,229); padding: 4px 0px;}
.right-section .news-detail .author-info span {margin-left: 20px;}
.right-section .news-detail .author-info span:first-child {margin-left: 0px;}
.right-section .news-detail p {line-height: 24px;}
.right-section .news-detail img {margin: 0px auto; display: block;}
.right-section .news-detail p img {width: 100%;}
.right-section .other-news .other-news-title {display: inline-block;width: 200px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;vertical-align: bottom;padding-right: 0px;}
.right-section .other-news .highlight {color: rgb(41,91,164);}

.sub-banner {height: 183px; width: 100%; clear: both;position: relative;}
.sub-container {width: 960px; clear: both; overflow: hidden; margin: auto; min-height: 700px;}

/*旗下游戏 games*/
.game-banner { background: url(../images/game/qixiayouxi.jpg) top center no-repeat; height: 203px; width: 100%; clear: both;position: absolute; top: -20px;}
.game-title { width: 940px; margin: auto; clear: both; overflow: hidden; height: 28px;}
.sx_1_1,.sx_1_1_1,.sx_1_2,.sx_1_2_1{ float:left; display:block; height:28px; cursor:pointer;width:468px;}
.sx_1_1{ background:url(../images/game/wangluoyouxiB2.png); }
.sx_1_1_1{ background:url(../images/game/wangluoyouxiB1.png); }
.sx_1_2{ background:url(../images/game/xiuxianyouxiB2.png); }
.sx_1_2_1{ background:url(../images/game/xiuxianyouxiB1.png); }
.game-container { width: 930px; margin: 20px auto 0px auto; clear: both; overflow: hidden; border: solid 1px #ccc; height: 238px; border-right: 0px;}
.game-container .icon { float: left; width: 243px; border-right: solid 1px #ccc; overflow: hidden; height: 238px;}
.game-container .info { float: left; width: 666px; overflow: hidden; height: 188px; padding: 25px 0px 25px 20px; position: relative;}
.game-container .info .title, .game-container .info .description{line-height: 20px;}
.game-container .info.limit-width .title, .game-container .info.limit-width .description{width: 520px;}
.game-container .info .title { height: 42px; border-left: solid 2px rgb(192,31,36); width: 544px; overflow: hidden; padding: 0px 0px 0px 10px; margin-bottom: 6px;}
.game-container .info .title a.game-name { font-size: 18px; color: rgb(192,31,36); font-weight: bold; line-height: 22px; clear: both; float: left;}
.game-container .info .title a:hover.game-name { color: rgb(44, 48, 128);}
.game-container .info .title .game-addition-info { float: left; clear: both; line-height: 22px; color: #6b6c6f;}
.game-container .info .links { top: 8px; right: 0px; position: absolute;}
.game-container .info .links a.website, .game-container .info .links a.download { height: 40px; width: 116px; float: left; display: block; margin-left: 5px;}
.game-container .info .links a.website { background: url(../images/game/jingruguanwangB1.png) no-repeat;}
.game-container .info .links a:hover.website { background: url(../images/game/jingruguanwangB2.png) no-repeat;}
.game-container .info .links a.download { background: url(../images/game/xiazaiyouxiB1.png) no-repeat;}
.game-container .info .links a:hover.download { background: url(../images/game/xiazaiyouxiB2.png) no-repeat;}
.game-container .info .erweima { position: absolute; right: 0px; bottom: 15px;}
.game-container .info .erweima .erweima-text {color: rgb(41,91,164);}

/*了解爱乐游 introduction*/
.introduction-banner { background: url(../images/introduction/briefinfo/toutu.jpg) top center no-repeat; height: 203px; width: 100%; clear: both;position: absolute; top: -20px;}
.introduction-title { width: 940px; margin: auto; clear: both; overflow: hidden; height: 28px;}
.sx_2_1,.sx_2_1_1,.sx_2_2,.sx_2_2_1,.sx_2_3,.sx_2_3_1,.sx_2_4,.sx_2_4_1,.sx_2_5,.sx_2_5_1{ float:left; display:block; height:28px; cursor:pointer;width:188px;}
.sx_2_1{ background:url(../images/introduction/briefinfo/gongsi.png); }
.sx_2_1_1{ background:url(../images/introduction/briefinfo/gongsi1.png); }
.sx_2_2{ background:url(../images/introduction/briefinfo/qiyewenhua.png); }
.sx_2_2_1{ background:url(../images/introduction/briefinfo/qiyewenhua1.png); }
.sx_2_3{ background:url(../images/introduction/briefinfo/dashiji.png); }
.sx_2_3_1{ background:url(../images/introduction/briefinfo/dashiji1.png); }
.sx_2_4{ background:url(../images/introduction/briefinfo/suohuorongyu.png); }
.sx_2_4_1{ background:url(../images/introduction/briefinfo/suohuorongyu1.png); }
.sx_2_5{ background:url(../images/introduction/briefinfo/tuanduijieshao.png); }
.sx_2_5_1{ background:url(../images/introduction/briefinfo/tuanduijieshao1.png); }
.introduction-container { width: 940px; margin: 20px auto 0px auto; clear: both; overflow: hidden; border-top: solid 1px #ccc; padding-top: 10px;}
.introduction-container.brief-info { position: relative; padding-top: 30px; min-height: 400px;}
.brief-info .company-info { position: absolute; top: 42px; left: 152px;}
.brief-info .company-info h2 { padding: 10px 0px 10px 20px; border-left: 1px solid #909195; color: rgb(46,46,46); font-size: 24px;}
.brief-info .company-info p { margin-top: 20px; padding-left: 10px;}
#table_2_3 {margin-top: -665px;}
#table_2_3 .dashiji { background: url(../images/introduction/dashiji/dashiji.png) top center no-repeat; height: 694px; width: 100%;}

/*商务合作 business*/
.business-banner { background: url(../images/business/shangwuhezuotoutu.jpg) top center no-repeat; height: 203px; width: 100%; clear: both;position: absolute; top: -20px;}
.business-title { width: 940px; margin: auto; clear: both; overflow: hidden; height: 28px;}
.sx_3_1,.sx_3_1_1,.sx_3_2,.sx_3_2_1{ float:left; display:block; height:28px; cursor:pointer;width:468px;}
.sx_3_1{ background:url(../images/business/hezuohuoban2.png); }
.sx_3_1_1{ background:url(../images/business/hezuohuoban1.png); }
.sx_3_2{ background:url(../images/business/lianxifangshi2.png); }
.sx_3_2_1{ background:url(../images/business/lianxifangshi1.png); }
.business-container { width: 940px; margin: 20px auto 0px auto; clear: both; overflow: hidden; border-top: solid 1px #ccc; padding-top: 10px;}

/*加入我们 recruit*/
.recruit-banner { background: url(../images/join/rencaitoutu.jpg) top center no-repeat; height: 203px; width: 100%; clear: both;position: absolute; top: -20px;}
.recruit-left { width: 300px; float: left; overflow: hidden;}
.recruit-left .search { float: left; clear: both; width: 288px; border: solid 1px #ccc; border-bottom-width: 0px; height: 28px; position: relative;background: url(../images/join/sousuozhiwei.png) no-repeat;}
.recruit-left .search .text { float: left; background: none; border: 0; width: 238px; height: 28px; line-height: 28px; padding: 0px 0px 0px 5px; color: #000;}
#search { width: 235px; height: 30px; padding: 0px 3px 0px 3px; position: absolute; line-height: 30px; color: #ccc; left: 0px; top: 0px; overflow: hidden;}
.recruit-left .search .search-btn { float: left; background: url(../images/join/sousuozhiwei.png) no-repeat -248px -5px; width: 37px; height: 19px; cursor: pointer; border: 0; margin: 5px 0px 0px 5px;}
.recruit-left .jobs { float: left; clear: both; width: 300px; overflow: hidden; margin: 20px 0px;}
.job1,.job1:hover,.job2,.job2:hover,.job3,.job3:hover,.job4,.job4:hover,.job5,.job5:hover,.job6,.job6:hover,.job7,.job7:hover,.job8,.job8:hover{display:block; float:left;width:145px; height:67px;}
.job1{ background:url(../images/join/quanbu1.png);}
.job1:hover{ background:url(../images/join/quanbu2.png);}
.job2{ background:url(../images/join/chengxu1.png);}
.job2:hover{ background:url(../images/join/chengxu2.png);}
.job3{ background:url(../images/join/meishu1.png);}
.job3:hover{ background:url(../images/join/meishu2.png);}
.job4{ background:url(../images/join/cehua1.png);}
.job4:hover{ background:url(../images/join/cehua2.png);}
.job5{ background:url(../images/join/shangwu1.png);}
.job5:hover{ background:url(../images/join/shangwu2.png);}
.job6{ background:url(../images/join/shichang1.png);}
.job6:hover{ background:url(../images/join/shichang2.png);}
.job7{ background:url(../images/join/yunying1.png);}
.job7:hover{ background:url(../images/join/yunying2.png);}
.job8{ background:url(../images/join/zhineng1.png);}
.job8:hover{ background:url(../images/join/zhineng2.png);}
.recruit-right { float: left; overflow: hidden; width: 616px; margin: 0px 0px 0px 25px;}
.recruit-right .job-container { border-bottom: solid 1px rgb(209,209,209); padding-bottom: 15px; position: relative;}
.job-container .decoration-line { margin-bottom: 10px;}
.job-container .job-info .title { color: rgb(190,30,30); font-size: 24px; padding: 10px 0px 10px 10px;}
.job-container .job-info .info { padding: 0px 0px 10px 10px; line-height: 25px; color: #464749;}
.job-container .job-info .info span { margin: 0px 40px 0px 0px;}
.job-container .job-links { position: absolute; top: 50px; right: 0px; height: 28px; width: 185px; z-index: 9;}
.job-container .job-links a.job-detail { background: url(../images/join/zhiwei1.png); display: block; float: left; height: 28px; width: 92px;}
.job-container .job-links a:hover.job-detail { background: url(../images/join/zhiwei2.png);}
.job-container .job-links a.join-in { background: url(../images/join/yingpin1.png); display: block; float: left; height: 28px; width: 92px;}
.job-container .job-links a:hover.join-in { background: url(../images/join/yingpin2.png);}
.job-detail-infos {display: none;margin-left: 10px;line-height: 24px;}
.job-container.open .job-detail-infos {display: block;}
