<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-controller="MyController">
<div>{{greeting}}</div>
<ul>
    <li ng-repeat="people in peoples">
        <span>Name: {{people.name}}</span>
        <span>Age: {{people.age}}</span>
        <span>Gender: {{people.gender | gender}}</span>
        <button ng-click="deleteThisPeople($index)">Delete</button>
    </li>
</ul>
<div>Today is : {{today | date: "yyyy-MM-dd HH:mm:ss"}}</div>
<div>Today is : {{today2}}</div>
<div data-clock></div>
<div data-clock></div>
<div clock></div>
<div clock></div>
<script src="assets/js/angular.js"></script>
<script>
    var myApp = angular.module("myApp", ["ng"]);
    myApp.service("peoples", function () {
        return [
            {name: "John", age: 28, gender: 1},
            {name: "Josh", age: 29, gender: 1},
            {name: "Jane", age: 25, gender: 0}
        ];
    });

    myApp.controller("MyController", function ($scope, peoples, dateFilter) {
        console.info($scope);
        $scope.greeting = "Hello World!";
        $scope.peoples = peoples;
        $scope.today = new Date();
        $scope.today2 = dateFilter(new Date(), "yyyy-MM-dd HH:mm:ss");
        $scope.deleteThisPeople = function ($index) {
            $scope.peoples.splice($index, 1);
        };
    });

    myApp.directive("clock", function (dateFilter) {
        return function ($scope, $element, $attrs) {
            setInterval(function () {
                $element.text(dateFilter(new Date(), "yyyy-MM-dd HH:mm:ss"));
            }, 1000);
        };
    });

    myApp.filter("gender", function ($http) {
        var genders = [];
        $http.get("uri")
                .success(function (data, status, header, config) {
                    genders = data;
                })
                .error(function (data, status, header, config) {
                    console.info(data);
                });
        return function (input) {
            var returnValue = "未知";
            genders.forEach(function (object, index) {
                if(object.input == input) {
                    returnValue = object.output;
                }
            });

            switch (input) {
                case 0: return "女";
                case 1: return "男";
                default : return "未知";
            }
        };
    });
</script>
</body>
</html>